/* CSS Stylesheet */
body {
  font-family:'Special Elite', cursive;
}

.headerBlock {
  background-image:url("../images/marble.jpg");
  margin-top:-20px;
  height:auto;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.mainContentWrapper {
  margin-top:-20px;
  background-image:url("../images/spiration.png");
  z-index:0;
}

.leftSubWrapperCol {
  width:70%;
  margin-top:15%;
  margin-left:auto;
  margin-right:auto;
}

.jSFB {
  margin-top:15%;
  margin-bottom:15%;
}

.jumbotron {
  background-color:transparent;
  text-align:center;
}

.artImageContainer img{
  width:50%;
}

.card {
  margin-top:30%;
}

.card-img-top {
  display:block;
  margin-left: auto;
  margin-right:auto;
  width: 70%;
  height: auto;
  margin-bottom:42px;
}

.subContentWrapper {
  background-image: url("../images/brushed.png");
  text-align:center;
}

.subContent {
  margin-top: 12px;
}

.footer {
  background-image:url("../images/marble.jpg");
  text-align:center;
}